## Pandas

* Library fuer Datenanalyse
* Erstellung von Series und DataFrames
* Lesen und Schreiben von Daten zwischen verschiedenen Formaten

### Pandas-Series
* Eindimensional
* NumPy-Array hat einen numerischen Index
* Pandas-Series kann stattdessen ein Label haben

#### Pandas-Series aus Listen erstellen

In [4]:
import numpy as np
import pandas as pd
import s3fs

index = ['Germany', 'France', 'Netherlands']
data = [83000000, 67000000, 17000000]
series = pd.Series(data=data) ##Pandas-Series ohne Label erstellen
series

0    83000000
1    67000000
2    17000000
dtype: int64

In [5]:
series = pd.Series(data=data, index=index) ##Pandas-Series mit Label erstellen
series

Germany        83000000
France         67000000
Netherlands    17000000
dtype: int64

In [6]:
series[0] ##Zugriff auf erstes Element über Index

83000000

In [7]:
series['Germany'] ##Zugriff auf erstes Element über Label

83000000

#### Pandas-Series aus Python-Dictionary erstellen

In [8]:
alter = {'Pia':20, 'Felix':26} ##Python-Dictionary
pd.Series(alter) ##Konvertierung in Pandas-Series

Pia      20
Felix    26
dtype: int64

#### Operationen auf Pandas Series

In [9]:
jahr_1990 = {'Germany':70000000, 'France': 50000000, 'Netherlands': 12000000}
jahr_2021 = {'Germany':83000000, 'France': 67000000, 'Netherlands': 17000000, 'Greece': 13000000}

einwohner_1990 = pd.Series(jahr_1990) ##Konvertierung in Pandas-Series
einwohner_2021 = pd.Series(jahr_2021)
einwohner_1990 ##Ausgabe der Einwohner im Jahr 1990

Germany        70000000
France         50000000
Netherlands    12000000
dtype: int64

In [ ]:
einwohner_1990['France'] ##Zugriff über Label

50000000

In [10]:
einwohner_1990 / einwohner_2021 ##Division

France         0.746269
Germany        0.843373
Greece              NaN
Netherlands    0.705882
dtype: float64

In [11]:
einwohner_1990.div(einwohner_2021, fill_value=10000000) ##Fehlenden Wert bei Division nachtragen

France         0.746269
Germany        0.843373
Greece         0.769231
Netherlands    0.705882
dtype: float64

### Pandas DataFrames
* Gruppe von Pandas-Series mit gleichem Index

<p style="text-align: center;"> Pandas-Series 1: </p>

| Index       | Einwohner 2021     |
|-------------|----------|
| Germany     | 82000000 |
| France      | 67000000 |
| Netherlands | 17000000 |

<p style="text-align: center;"> Pandas-Series 2: </p>

| Index       | Einwohner 1990     |
|-------------|----------|
| Germany     | 70000000 |
| France      | 50000000 |
| Netherlands | 12000000 |

<p style="text-align: center;"> Pandas-Dataframe zusammengesetzt aus vorherigen Pandas-Series: </p>

| Index       | Einwohner 1990 | Einwohner 2021 |
|-------------|----------|----------|
| Germany     | 70000000 | 82000000 |
| France      | 50000000 | 67000000 | 
| Netherlands | 12000000 | 17000000 |

#### Pandas-DataFrames aus Python generieren

In [12]:
np.random.seed(42)
data = np.random.randint(0,101,(4,3)) ##Numpy-Array mit zufälligen Werten generieren
data

array([[51, 92, 14],
       [71, 60, 20],
       [82, 86, 74],
       [74, 87, 99]])

In [14]:
index = ['Berlin', 'BW', 'Bayern', 'Hessen']
columns = ['Jan', 'Feb', 'Mar']

df = pd.DataFrame(data=data, index=index, columns=columns) ##Pandas DataFrame erstellen
df

        Jan  Feb  Mar
Berlin   51   92   14
BW       71   60   20
Bayern   82   86   74
Hessen   74   87   99

In [15]:
df.info() ##Weitere Informationen über DataFrame erhalten

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Berlin to Hessen
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int64
 1   Feb     4 non-null      int64
 2   Mar     4 non-null      int64
dtypes: int64(3)
memory usage: 128.0+ bytes

#### DataFrame aus CSV einlesen

In [16]:
df = pd.read_csv('s3://nyc-tlc/trip data/green_tripdata_2019-02.csv', nrows=1000) ##CSV aus S3 einlesen; Beschränkung auf 1000 Zeilen
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-02-01 00:10:19,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.00,0.5,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0
1,2,2019-02-01 00:02:16,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.50,0.5,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0
2,2,2019-02-01 00:37:19,2019-02-01 00:43:07,N,1,255,112,1,1.26,6.00,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1,1,0
3,1,2019-02-01 00:10:10,2019-02-01 00:12:21,N,1,75,238,1,0.70,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0
4,1,2019-02-01 00:30:19,2019-02-01 00:46:14,N,1,75,48,1,3.90,14.50,0.5,0.5,0.00,0.0,NaN,0.3,15.80,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,2019-02-01 04:03:54,2019-02-01 04:19:04,N,1,260,95,1,4.04,14.50,0.5,0.5,3.16,0.0,NaN,0.3,18.96,1,1,0
996,2,2019-02-01 04:25:32,2019-02-01 04:52:02,N,5,216,140,1,14.24,44.94,0.0,0.5,0.00,0.0,NaN,0.0,45.44,1,2,0
997,2,2019-02-01 04:11:11,2019-02-01 04:41:20,N,5,91,140,1,14.85,36.90,0.0,0.5,0.00,0.0,NaN,0.0,37.40,1,2,0
998,2,2019-02-01 04:38:14,2019-02-01 04:50:32,N,1,129,7,1,3.39,12.50,0.5,0.5,4.14,0.0,NaN,0.3,17.94,1,1,0
999,2,2019-02-01 04:56:08,2019-02-01 05:13:01,N,1,7,230,1,4.51,16.50,0.5,0.5,1.50,0.0,NaN,0.3,19.30,1,1,0

In [18]:
df.columns ## Spalten anzeigen

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'],
      dtype='object')

In [19]:
df.index ## Index anzeigen

RangeIndex(start=0, stop=1000, step=1)

In [20]:
df.head(6) ## Zeige erste 6 Elemente

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-02-01 00:10:19,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.0,0.5,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0
1,2,2019-02-01 00:02:16,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.5,0.5,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0
2,2,2019-02-01 00:37:19,2019-02-01 00:43:07,N,1,255,112,1,1.26,6.0,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1,1,0
3,1,2019-02-01 00:10:10,2019-02-01 00:12:21,N,1,75,238,1,0.70,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0
4,1,2019-02-01 00:30:19,2019-02-01 00:46:14,N,1,75,48,1,3.90,14.5,0.5,0.5,0.00,0.0,NaN,0.3,15.80,2,1,0
5,1,2019-02-01 00:43:46,2019-02-01 00:46:08,N,1,7,7,1,0.60,4.0,0.5,0.5,1.00,0.0,NaN,0.3,6.30,1,1,0

In [21]:
df.describe().transpose() ## Statistische Übersicht erstellen (Min, Max, Quantile, ....)

,count,mean,std,min,25%,50%,75%,max
VendorID,1000.0,1.82900,0.376697,1.0,2.0000,2.0,2.0000,2.00
RatecodeID,1000.0,1.15100,0.760774,1.0,1.0000,1.0,1.0000,5.00
PULocationID,1000.0,115.58000,75.268459,7.0,66.0000,95.0,146.0000,265.00
DOLocationID,1000.0,126.77500,73.858022,1.0,62.7500,129.0,181.0000,265.00
passenger_count,1000.0,1.41800,1.096576,0.0,1.0000,1.0,1.0000,6.00
trip_distance,1000.0,2.61966,3.153199,0.0,0.8775,1.5,2.9375,24.63
fare_amount,1000.0,10.79052,9.933051,-4.5,5.5000,7.5,12.5000,106.00
extra,1000.0,0.47750,0.112945,-0.5,0.5000,0.5,0.5000,0.50
mta_tax,1000.0,0.48250,0.102246,-0.5,0.5000,0.5,0.5000,0.50
tip_amount,1000.0,0.94592,1.599092,0.0,0.0000,0.0,1.6525,13.74
tolls_amount,1000.0,0.11342,0.828910,0.0,0.0000,0.0,0.0000,10.50
ehail_fee,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
improvement_surcharge,1000.0,0.28650,0.067767,-0.3,0.3000,0.3,0.3000,0.30
total_amount,1000.0,13.10521,10.736691,-5.8,7.3000,9.8,14.8000,107.30
payment_type,1000.0,1.52900,0.532393,1.0,1.0000,2.0,2.0000,4.00
trip_type,1000.0,1.03700,0.188856,1.0,1.0000,1.0,1.0000,2.00
congestion_surcharge,1000.0,0.00000,0.000000,0.0,0.0000,0.0,0.0000,0.00

#### Arbeiten mit Spalten

In [23]:
df['tip_amount'] ## Ausgage einer spezifischen Spalte des DataFrames

0      3.08
1      3.76
2      1.46
3      0.00
4      0.00
       ...
995    3.16
996    0.00
997    0.00
998    4.14
999    1.50
Name: tip_amount, Length: 1000, dtype: float64

In [24]:
type(df['tip_amount']) ## Einzelne Spalte eines DataFrames ist eine Series

pandas.core.series.Series

In [25]:
cols = ['tip_amount','total_amount']
df[cols] ## Mehrere Spalten ausgeben

     tip_amount  total_amount
0          3.08         15.38
1          3.76         22.56
2          1.46          8.76
3          0.00          5.30
4          0.00         15.80
..          ...           ...
995        3.16         18.96
996        0.00         45.44
997        0.00         37.40
998        4.14         17.94
999        1.50         19.30

[1000 rows x 2 columns]

In [27]:
type(df[cols]) ## Zwei Spsalten eines DataFrames ist wieder ein DataFrame

pandas.core.frame.DataFrame

In [28]:
100 * df['tip_amount'] / df['total_amount'] ## Prozentualer Anteil des Trinkegelds

0      20.026008
1      16.666667
2      16.666667
3       0.000000
4       0.000000
         ...
995    16.666667
996     0.000000
997     0.000000
998    23.076923
999     7.772021
Length: 1000, dtype: float64

In [29]:
df['tip_percentage'] = 100 * df['tip_amount'] / df['total_amount'] ## Neue Spalte in DataFrame einfügen
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,tip_percentage
0,2,2019-02-01 00:10:19,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.0,...,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0,20.026008
1,2,2019-02-01 00:02:16,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.5,...,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0,16.666667
2,2,2019-02-01 00:37:19,2019-02-01 00:43:07,N,1,255,112,1,1.26,6.0,...,0.5,1.46,0.0,NaN,0.3,8.76,1,1,0,16.666667
3,1,2019-02-01 00:10:10,2019-02-01 00:12:21,N,1,75,238,1,0.70,4.0,...,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0,0.000000
4,1,2019-02-01 00:30:19,2019-02-01 00:46:14,N,1,75,48,1,3.90,14.5,...,0.5,0.00,0.0,NaN,0.3,15.80,2,1,0,0.000000

In [30]:
df.drop('tip_percentage', axis=1) ## Spalte löschen

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-02-01 00:10:19,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.00,0.5,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0
1,2,2019-02-01 00:02:16,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.50,0.5,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0
2,2,2019-02-01 00:37:19,2019-02-01 00:43:07,N,1,255,112,1,1.26,6.00,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1,1,0
3,1,2019-02-01 00:10:10,2019-02-01 00:12:21,N,1,75,238,1,0.70,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0
4,1,2019-02-01 00:30:19,2019-02-01 00:46:14,N,1,75,48,1,3.90,14.50,0.5,0.5,0.00,0.0,NaN,0.3,15.80,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,2019-02-01 04:03:54,2019-02-01 04:19:04,N,1,260,95,1,4.04,14.50,0.5,0.5,3.16,0.0,NaN,0.3,18.96,1,1,0
996,2,2019-02-01 04:25:32,2019-02-01 04:52:02,N,5,216,140,1,14.24,44.94,0.0,0.5,0.00,0.0,NaN,0.0,45.44,1,2,0
997,2,2019-02-01 04:11:11,2019-02-01 04:41:20,N,5,91,140,1,14.85,36.90,0.0,0.5,0.00,0.0,NaN,0.0,37.40,1,2,0
998,2,2019-02-01 04:38:14,2019-02-01 04:50:32,N,1,129,7,1,3.39,12.50,0.5,0.5,4.14,0.0,NaN,0.3,17.94,1,1,0
999,2,2019-02-01 04:56:08,2019-02-01 05:13:01,N,1,7,230,1,4.51,16.50,0.5,0.5,1.50,0.0,NaN,0.3,19.30,1,1,0

In [33]:
df ##'tip_percentage' ist ja noch immer da?!?

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,tip_percentage
0,2,2019-02-01 00:10:19,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.00,...,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0,20.026008
1,2,2019-02-01 00:02:16,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.50,...,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0,16.666667
2,2,2019-02-01 00:37:19,2019-02-01 00:43:07,N,1,255,112,1,1.26,6.00,...,0.5,1.46,0.0,NaN,0.3,8.76,1,1,0,16.666667
3,1,2019-02-01 00:10:10,2019-02-01 00:12:21,N,1,75,238,1,0.70,4.00,...,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0,0.000000
4,1,2019-02-01 00:30:19,2019-02-01 00:46:14,N,1,75,48,1,3.90,14.50,...,0.5,0.00,0.0,NaN,0.3,15.80,2,1,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,2019-02-01 04:03:54,2019-02-01 04:19:04,N,1,260,95,1,4.04,14.50,...,0.5,3.16,0.0,NaN,0.3,18.96,1,1,0,16.666667
996,2,2019-02-01 04:25:32,2019-02-01 04:52:02,N,5,216,140,1,14.24,44.94,...,0.5,0.00,0.0,NaN,0.0,45.44,1,2,0,0.000000
997,2,2019-02-01 04:11:11,2019-02-01 04:41:20,N,5,91,140,1,14.85,36.90,...,0.5,0.00,0.0,NaN,0.0,37.40,1,2,0,0.000000
998,2,2019-02-01 04:38:14,2019-02-01 04:50:32,N,1,129,7,1,3.39,12.50,...,0.5,4.14,0.0,NaN,0.3,17.94,1,1,0,23.076923
999,2,2019-02-01 04:56:08,2019-02-01 05:13:01,N,1,7,230,1,4.51,16.50,...,0.5,1.50,0.0,NaN,0.3,19.30,1,1,0,7.772021

In [34]:
df = df.drop('tip_percentage', axis=1) ## Hier wird 'tip_percentage' endgültig gelöscht
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-02-01 00:10:19,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.00,0.5,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0
1,2,2019-02-01 00:02:16,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.50,0.5,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0
2,2,2019-02-01 00:37:19,2019-02-01 00:43:07,N,1,255,112,1,1.26,6.00,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1,1,0
3,1,2019-02-01 00:10:10,2019-02-01 00:12:21,N,1,75,238,1,0.70,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0
4,1,2019-02-01 00:30:19,2019-02-01 00:46:14,N,1,75,48,1,3.90,14.50,0.5,0.5,0.00,0.0,NaN,0.3,15.80,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,2019-02-01 04:03:54,2019-02-01 04:19:04,N,1,260,95,1,4.04,14.50,0.5,0.5,3.16,0.0,NaN,0.3,18.96,1,1,0
996,2,2019-02-01 04:25:32,2019-02-01 04:52:02,N,5,216,140,1,14.24,44.94,0.0,0.5,0.00,0.0,NaN,0.0,45.44,1,2,0
997,2,2019-02-01 04:11:11,2019-02-01 04:41:20,N,5,91,140,1,14.85,36.90,0.0,0.5,0.00,0.0,NaN,0.0,37.40,1,2,0
998,2,2019-02-01 04:38:14,2019-02-01 04:50:32,N,1,129,7,1,3.39,12.50,0.5,0.5,4.14,0.0,NaN,0.3,17.94,1,1,0
999,2,2019-02-01 04:56:08,2019-02-01 05:13:01,N,1,7,230,1,4.51,16.50,0.5,0.5,1.50,0.0,NaN,0.3,19.30,1,1,0

In [39]:
df.shape ## Dimension des DataFrames

(1000, 20)

In [41]:
df.shape[0] ##Index=0 --> Zeilen

1000

In [42]:
df.shape[1] ##Index=1 --> Spalten

20

#### Arbeiten mit Zeilen

In [43]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [56]:
df = df.set_index("lpep_pickup_datetime") ## Index ändern
## Achtung: "lpep_pickup_datetime" ist jetzt keine Spalte mehr!

In [57]:
df.head()

,VendorID,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
lpep_pickup_datetime,,,,,,,,,,,,,,,,,,,
2019-02-01 00:10:19,2,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.0,0.5,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0
2019-02-01 00:02:16,2,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.5,0.5,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0
2019-02-01 00:37:19,2,2019-02-01 00:43:07,N,1,255,112,1,1.26,6.0,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1,1,0
2019-02-01 00:10:10,1,2019-02-01 00:12:21,N,1,75,238,1,0.70,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0
2019-02-01 00:30:19,1,2019-02-01 00:46:14,N,1,75,48,1,3.90,14.5,0.5,0.5,0.00,0.0,NaN,0.3,15.80,2,1,0

In [51]:
df.reset_index() ## Index zurücksetzen

In [58]:
df.iloc[0:6] ##Integer-basiert die ersten 6 Zeilen ausgeben

,VendorID,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
lpep_pickup_datetime,,,,,,,,,,,,,,,,,,,
2019-02-01 00:10:19,2,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.0,0.5,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0
2019-02-01 00:02:16,2,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.5,0.5,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0
2019-02-01 00:37:19,2,2019-02-01 00:43:07,N,1,255,112,1,1.26,6.0,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1,1,0
2019-02-01 00:10:10,1,2019-02-01 00:12:21,N,1,75,238,1,0.70,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0
2019-02-01 00:30:19,1,2019-02-01 00:46:14,N,1,75,48,1,3.90,14.5,0.5,0.5,0.00,0.0,NaN,0.3,15.80,2,1,0
2019-02-01 00:43:46,1,2019-02-01 00:46:08,N,1,7,7,1,0.60,4.0,0.5,0.5,1.00,0.0,NaN,0.3,6.30,1,1,0

In [60]:
df.loc[['2019-02-01 00:10:19','2019-02-01 00:02:16']] ## Nur Zeilen mit bestimmtem Datum anzeigen

,VendorID,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
lpep_pickup_datetime,,,,,,,,,,,,,,,,,,,
2019-02-01 00:10:19,2,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.0,0.5,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0
2019-02-01 00:02:16,2,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.5,0.5,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0

In [61]:
df.drop('2019-02-01 00:10:19', axis=0) ## Einzelne Zeile wegwerfen

,VendorID,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
lpep_pickup_datetime,,,,,,,,,,,,,,,,,,,
2019-02-01 00:02:16,2,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.50,0.5,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0
2019-02-01 00:37:19,2,2019-02-01 00:43:07,N,1,255,112,1,1.26,6.00,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1,1,0
2019-02-01 00:10:10,1,2019-02-01 00:12:21,N,1,75,238,1,0.70,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0
2019-02-01 00:30:19,1,2019-02-01 00:46:14,N,1,75,48,1,3.90,14.50,0.5,0.5,0.00,0.0,NaN,0.3,15.80,2,1,0
2019-02-01 00:43:46,1,2019-02-01 00:46:08,N,1,7,7,1,0.60,4.00,0.5,0.5,1.00,0.0,NaN,0.3,6.30,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-01 04:03:54,2,2019-02-01 04:19:04,N,1,260,95,1,4.04,14.50,0.5,0.5,3.16,0.0,NaN,0.3,18.96,1,1,0
2019-02-01 04:25:32,2,2019-02-01 04:52:02,N,5,216,140,1,14.24,44.94,0.0,0.5,0.00,0.0,NaN,0.0,45.44,1,2,0
2019-02-01 04:11:11,2,2019-02-01 04:41:20,N,5,91,140,1,14.85,36.90,0.0,0.5,0.00,0.0,NaN,0.0,37.40,1,2,0
2019-02-01 04:38:14,2,2019-02-01 04:50:32,N,1,129,7,1,3.39,12.50,0.5,0.5,4.14,0.0,NaN,0.3,17.94,1,1,0
2019-02-01 04:56:08,2,2019-02-01 05:13:01,N,1,7,230,1,4.51,16.50,0.5,0.5,1.50,0.0,NaN,0.3,19.30,1,1,0

In [62]:
row = df.iloc[0] ## Einzelne Zeile selektieren

In [64]:
row ## Details anzeigen

VendorID                                   2
lpep_dropoff_datetime    2019-02-01 00:21:43
store_and_fwd_flag                         N
RatecodeID                                 1
PULocationID                              92
DOLocationID                             135
passenger_count                            1
trip_distance                           2.79
fare_amount                             11.0
extra                                    0.5
mta_tax                                  0.5
tip_amount                              3.08
tolls_amount                             0.0
ehail_fee                                NaN
improvement_surcharge                    0.3
total_amount                           15.38
payment_type                               1
trip_type                                  1
congestion_surcharge                       0
Name: 2019-02-01 00:10:19, dtype: object

In [65]:
df = df.append(row) ## Zeile unten anhängen

In [66]:
df

,VendorID,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
lpep_pickup_datetime,,,,,,,,,,,,,,,,,,,
2019-02-01 00:10:19,2,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.00,0.5,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0
2019-02-01 00:02:16,2,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.50,0.5,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0
2019-02-01 00:37:19,2,2019-02-01 00:43:07,N,1,255,112,1,1.26,6.00,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1,1,0
2019-02-01 00:10:10,1,2019-02-01 00:12:21,N,1,75,238,1,0.70,4.00,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0
2019-02-01 00:30:19,1,2019-02-01 00:46:14,N,1,75,48,1,3.90,14.50,0.5,0.5,0.00,0.0,NaN,0.3,15.80,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-02-01 04:25:32,2,2019-02-01 04:52:02,N,5,216,140,1,14.24,44.94,0.0,0.5,0.00,0.0,NaN,0.0,45.44,1,2,0
2019-02-01 04:11:11,2,2019-02-01 04:41:20,N,5,91,140,1,14.85,36.90,0.0,0.5,0.00,0.0,NaN,0.0,37.40,1,2,0
2019-02-01 04:38:14,2,2019-02-01 04:50:32,N,1,129,7,1,3.39,12.50,0.5,0.5,4.14,0.0,NaN,0.3,17.94,1,1,0
2019-02-01 04:56:08,2,2019-02-01 05:13:01,N,1,7,230,1,4.51,16.50,0.5,0.5,1.50,0.0,NaN,0.3,19.30,1,1,0
2019-02-01 00:10:19,2,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.00,0.5,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0

#### Filtern mit Bedingungen

Jede Spalte nennen wir ein Feature der Daten. Jede Zeile nennen wir eine Instanz der Daten.

In [67]:
df = pd.read_csv('s3://nyc-tlc/trip data/green_tripdata_2019-02.csv', nrows=1000) ##Neu einlesen

In [68]:
df["tip_amount"] > 3 ##Wo ist 'tip_amount' größer 3?

0       True
1       True
2      False
3      False
4      False
       ...
995     True
996    False
997    False
998     True
999    False
Name: tip_amount, Length: 1000, dtype: bool

In [69]:
var1 = df["tip_amount"] > 3 ## Neue Variable einführen mit Boolean

In [72]:
df[var1] ## DataFrame wird gefiltert

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-02-01 00:10:19,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.0,0.5,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0
1,2,2019-02-01 00:02:16,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.5,0.5,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0
14,2,2019-02-01 00:36:32,2019-02-01 01:04:46,N,1,255,143,1,7.69,25.5,0.5,0.5,5.36,0.0,NaN,0.3,32.16,1,1,0
19,2,2019-02-01 00:42:56,2019-02-01 01:07:51,N,1,66,225,2,7.73,25.5,0.5,0.5,3.50,0.0,NaN,0.3,30.30,1,1,0
33,2,2019-02-01 00:44:32,2019-02-01 01:04:41,N,1,36,145,5,4.51,17.0,0.5,0.5,5.49,0.0,NaN,0.3,23.79,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942,1,2019-02-01 03:57:47,2019-02-01 04:08:54,N,1,7,237,1,3.70,13.0,0.5,0.5,7.00,0.0,NaN,0.3,21.30,1,1,0
945,2,2019-02-01 03:55:55,2019-02-01 03:59:05,N,1,129,129,2,0.54,4.0,0.5,0.5,5.00,0.0,NaN,0.3,10.30,1,1,0
991,2,2019-02-01 04:40:50,2019-02-01 04:44:52,N,1,93,138,1,3.50,11.0,0.5,0.5,10.00,0.0,NaN,0.3,22.30,1,1,0
995,2,2019-02-01 04:03:54,2019-02-01 04:19:04,N,1,260,95,1,4.04,14.5,0.5,0.5,3.16,0.0,NaN,0.3,18.96,1,1,0
998,2,2019-02-01 04:38:14,2019-02-01 04:50:32,N,1,129,7,1,3.39,12.5,0.5,0.5,4.14,0.0,NaN,0.3,17.94,1,1,0

In [73]:
df[(df["tip_amount"] > 3) & (df["total_amount"] > 40)] ## Filtern in einer Zeile

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
112,2,2019-02-01 00:45:50,2019-02-01 01:16:40,N,5,255,265,1,10.17,65.0,0.0,0.0,13.00,0.00,NaN,0.0,78.00,1,2,0
196,1,2019-02-01 00:37:32,2019-02-01 00:59:55,N,1,130,229,1,12.20,35.0,0.5,0.5,7.25,0.00,NaN,0.3,43.55,1,1,0
240,2,2019-02-01 00:19:48,2019-02-01 00:53:55,N,1,255,47,1,14.11,41.5,0.5,0.5,8.56,0.00,NaN,0.3,51.36,1,1,0
506,2,2019-02-01 01:45:21,2019-02-01 02:06:54,N,1,7,67,5,16.56,44.5,0.5,0.5,13.74,0.00,NaN,0.3,59.54,1,1,0
507,2,2019-02-01 01:20:57,2019-02-01 01:21:02,N,5,42,42,1,0.00,58.0,0.0,0.0,11.60,0.00,NaN,0.0,69.60,1,2,0
665,2,2019-02-01 01:14:25,2019-02-01 01:36:35,N,1,127,223,1,10.04,29.5,0.5,0.5,7.31,5.76,NaN,0.3,43.87,1,1,0
929,2,2019-02-01 03:06:11,2019-02-01 03:28:21,N,1,61,132,1,10.84,31.5,0.5,0.5,6.56,0.00,NaN,0.3,44.31,1,1,0

In [83]:
filter = [2,5] ## Filter, der nur 2 und 5 auswählt
df['passenger_count'].isin(filter).iloc[500:510]

500    False
501    False
502     True
503    False
504    False
505    False
506     True
507    False
508    False
509    False
Name: passenger_count, dtype: bool

In [85]:
df.iloc[501] ## 501 ist false da 'passenger_count'=1 und nicht 2 oder 5

VendorID                                   2
lpep_pickup_datetime     2019-02-01 01:42:23
lpep_dropoff_datetime    2019-02-01 01:55:32
store_and_fwd_flag                         N
RatecodeID                                 1
PULocationID                              82
DOLocationID                             226
passenger_count                            1
trip_distance                           2.62
fare_amount                             12.0
extra                                    0.5
mta_tax                                  0.5
tip_amount                               1.5
tolls_amount                             0.0
ehail_fee                                NaN
improvement_surcharge                    0.3
total_amount                            14.8
payment_type                               1
trip_type                                  1
congestion_surcharge                       0
Name: 501, dtype: object

In [86]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-02-01 00:10:19,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.0,0.5,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0
1,2,2019-02-01 00:02:16,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.5,0.5,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0
2,2,2019-02-01 00:37:19,2019-02-01 00:43:07,N,1,255,112,1,1.26,6.0,0.5,0.5,1.46,0.0,NaN,0.3,8.76,1,1,0
3,1,2019-02-01 00:10:10,2019-02-01 00:12:21,N,1,75,238,1,0.70,4.0,0.5,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0
4,1,2019-02-01 00:30:19,2019-02-01 00:46:14,N,1,75,48,1,3.90,14.5,0.5,0.5,0.00,0.0,NaN,0.3,15.80,2,1,0

In [87]:
df.info() ## Informationen über Typen

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               1000 non-null   int64
 1   lpep_pickup_datetime   1000 non-null   object
 2   lpep_dropoff_datetime  1000 non-null   object
 3   store_and_fwd_flag     1000 non-null   object
 4   RatecodeID             1000 non-null   int64
 5   PULocationID           1000 non-null   int64
 6   DOLocationID           1000 non-null   int64
 7   passenger_count        1000 non-null   int64
 8   trip_distance          1000 non-null   float64
 9   fare_amount            1000 non-null   float64
 10  extra                  1000 non-null   float64
 11  mta_tax                1000 non-null   float64
 12  tip_amount             1000 non-null   float64
 13  tolls_amount           1000 non-null   float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  1000 non-null   float64
 16  total_amount           1000 non-null   float64
 17  payment_type           1000 non-null   int64
 18  trip_type              1000 non-null   int64
 19  congestion_surcharge   1000 non-null   int64
dtypes: float64(9), int64(8), object(3)
memory usage: 156.4+ KB

In [88]:
def last_two(number): ## Letzte 2 Zahlen jeder Zeile einer Spalte ausgeben
    return int(str(number)[-2:])

In [89]:
last_two(1234567)

67

In [90]:
df['PULocationID'].apply(last_two) ##Anwenden auf Spalte in DataFrame

0      92
1      66
2      55
3      75
4      75
       ..
995    60
996    16
997    91
998    29
999     7
Name: PULocationID, Length: 1000, dtype: int64

In [92]:
df['PULocationID_last_two'] = df['PULocationID'].apply(last_two)

In [93]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,PULocationID_last_two
0,2,2019-02-01 00:10:19,2019-02-01 00:21:43,N,1,92,135,1,2.79,11.0,...,0.5,3.08,0.0,NaN,0.3,15.38,1,1,0,92
1,2,2019-02-01 00:02:16,2019-02-01 00:24:37,N,1,66,36,1,4.46,17.5,...,0.5,3.76,0.0,NaN,0.3,22.56,1,1,0,66
2,2,2019-02-01 00:37:19,2019-02-01 00:43:07,N,1,255,112,1,1.26,6.0,...,0.5,1.46,0.0,NaN,0.3,8.76,1,1,0,55
3,1,2019-02-01 00:10:10,2019-02-01 00:12:21,N,1,75,238,1,0.70,4.0,...,0.5,0.00,0.0,NaN,0.3,5.30,2,1,0,75
4,1,2019-02-01 00:30:19,2019-02-01 00:46:14,N,1,75,48,1,3.90,14.5,...,0.5,0.00,0.0,NaN,0.3,15.80,2,1,0,75

In [ ]:
df['total_amount'].mean()

13.105210000000003